# Banco de dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=heroes_factory

# Docker
MYSQL_ROOT_PASSWORD=sua_senha_root
MYSQL_DATABASE=heroes_factory
MYSQL_USER=seu_usuario
MYSQL_PASSWORD=sua_senha

# App
PORT=3333